#name {
  width:50%;
}

form, #nameChange {
  margin-bottom: 20px;
}

#nameChange, #questions, .results {
  display: none;
}

.jumbotron {
  margin-top: 15px;
  text-align: center;
  background-color: #3a6383;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: 'Archivo Black', sans-serif;
}

.jumbotron h1, h3 {
  font-weight: bold;
  text-shadow: 1px 1px 2px white, 0 0 5px white;
}

.container-fluid {
  width: 50%;
  margin: auto;
  background-color: #fafafa;
  min-height: 100%;
  border: 1px solid #dadada;
}

.results {
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 10px;
  text-align: center;
  font-style: italic;
  font-family: sans-serif; serif;
}

html, body {
  height: 100%;
  background-image: url("../img/background.jpeg");
  background-size: cover;
}

img {
  width: 35%;
}

.reactPic {
  width: 25%;
}

.result-container {
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: inherit;
  width: 80%;
}
